<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% include "head.html" %}

        <title>Casa Criativa</title>

    </head>
    <body>
        <!--A estrutura do projeto foi alterada para seguir as configurações de estrutura proposta pelo desafio
        original, optei por marter os históricos de alteração ao invés de deletar os commits anteriores-->
        <div id="container">
            <section id="intro">

                <header>
                    <a href="/">
                        <img src="/imagens/logo.png" alt="Logotipo Casa Criativa" class="logo-header">
                    </a>
                    

                </header>

                <main>
                    <p>Ficar em casa em períodos longos, não deve ser nada fácil.</p>

                    <p>Iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.</p>

                    <p>Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.</p>
                </main>

                <div id="buttons">
                    <button onclick="onOff()">+ Adicionar ideia</button>
                    <a href="/ideias" class="button">Ver Ideias</a>
                </div>

                <footer>
                    Com <strong class="coracao">❤</strong> <a href="https://www.rocketseat.com.br" target="_blank">rocketseat</a>.
                </footer>
            </section>

            <section id="lst-idea">

                {% include "All_Ideias.html" %}

            </section>
        </div>    
        
        <!--Modal-->
        {% include "modal.html" %}

        <script src="/script/scripts.js"></script>    
    </body>
</html>