<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/style/index-style.css">
        <link rel="stylesheet" href="/style/resert-root-style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Casa Criativa</title>

    </head>
    <body>
        <!--A estrutura do projeto foi alterada para seguir as configurações de estrutura proposta pelo desafio
        original, optei por marter os históricos de alteração ao invés de deletar os commits anteriores-->
        <div id="container">
            <section id="intro">

                <header>
                    <a href="/">
                        <img src="/imagens/logo.png" alt="Logotipo Casa Criativa" class="logo-header">
                    </a>
                    

                </header>

                <main>
                    <p>Ficar em casa em períodos longos, não deve ser nada fácil.</p>

                    <p>Iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.</p>

                    <p>Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.</p>
                </main>

                <div id="buttons">
                    <button onclick="onOff()">+ Adicionar ideia</button>
                    <a href="/ideias" class="button">Ver Ideias</a>
                </div>

                <footer>
                    Com <strong class="coracao">❤</strong> <a href="https://www.rocketseat.com.br" target="_blank">rocketseat</a>.
                </footer>
            </section>

            <section id="lst-idea">

                {% for idea in ideas %}
                
                    <div class="idea">
                        <img src="{{idea.img}}" alt="{{idea.title}}">
                        <div class="content">
                            <h3>{{idea.title}}</h3>
                            <p>{{idea.category}}</p>
                            <div class="descripttion">
                                {{idea.description}}
                            </div>
                            <a href="{{idea.url}}" target="_blank">Ir para ideia</a> 
                        </div>
                    </div>


                {% endfor %}
                <!--
                    <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2729/2729007.svg" alt="Imagem de Curso de Programação">
                    <div class="content">
                        <h3>Curso de Programação</h3>
                        <p>Educação</p>
                        <div class="descripttion">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique tincidunt augue sit elit.
                        </div>
                        <a href="#">Ir para ideia</a> 
                    </div>
                </div>

                <div class="idea">
                    <img src="https://image.flaticon.com/icons/svg/2729/2729005.svg" alt="Imagem de Exercício">
                    <div class="content">
                        <h3>Exercício</h3>
                        <p>Saúde</p>
                        <div class="descripttion">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique tincidunt augue sit elit.
                        </div>
                        <a href="#">Ir para ideia</a> 
                    </div>
                </div>
                -->


            </section>
        </div>    
        
        <!--Modal-->

        <div id="modal" class="hide">
            <div class="content">
                <h1>Nova Ideia</h1>

                <form action="">
                
                    <div class="input-wrapper">
                        <label for="title">Título da Ideia</label>
                        <input type="text" name="title">
                    </div>
                
                    <div class="input-wrapper">
                        <label for="category">Categoria</label>
                        <input type="text" name="category">
                    </div>
                    <div class="input-wrapper">
                        <label for="image">Link da Imagem</label>
                        <input type="url" name="image">
                    </div>
                
                    <div class="input-wrapper">
                        <label for="description">Digite uma descrição para essa ideia</label>
                        <textarea name="description" cols="30" rows="10"></textarea>
                    </div>
                
                    <div class="input-wrapper">
                        <label for="link-idea">Link da Ideia</label>
                        <input type="url" name="link-idea">
                    </div>
                
                    <a href="#" class="close" onclick="onOff()">Voltar</a>
                    <button>Salvar</button>
                
                
                
                
                
                
                </form>
            </div>
        </div>

        <script src="/script/scripts.js"></script>    
    </body>
</html>